%%-*- mode: erlang -*-
{require_otp_vsn, "R14"}.
{lib_dirs, [".."]}.
{erl_opts, [ debug_info
           , warn_unused_vars
           , warn_shadow_vars
           , warn_unused_import
           , warnings_as_errors
           ]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{xref_checks, [ fail_on_warning
              , undefined_function_calls
              ]}.
{xref_warnings, true}.
